version: "3.9"
services:

  web:
    build: .
    ports:
      - "8000:5000"
    volumes:
      - .:/code
    depends_on:
      - db 
    networks:
      - app-network
    container_name: web
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/app_db
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
      POSTGRES_USER: postgres
    networks:
      - app-network
    container_name: postgresql_service
    volumes:
      - ./script.sql:/docker-entrypoint-initdb.d/script.sql


networks:
  app-network:
    driver: bridge
    #volumes:
      #- ./data/db:/var/lib/postgresql/data #guardar la base datos en un directorio local
